@font-face {font-family: "Lato Regular";src: url("../fonts/Lato-Regular.ttf");}
@font-face {font-family: "Lato Black";src: url("../fonts/Lato-Black.ttf");}
@font-face {font-family: "Lato Bold";src: url("../fonts/Lato-Bold.ttf");}
@font-face {font-family: "Lato Italic";src: url("../fonts/Lato-Italic.ttf");}
@font-face {font-family: "Lato Light";src: url("../fonts/Lato-Light.ttf");}
@font-face {font-family: "Lato Light Italic";src: url("../fonts/Lato-LightItalic.ttf");}
@font-face {font-family: "Lato Thin";src: url("../fonts/Lato-Thin.ttf");}
@font-face {font-family: "Lato Thin Italic";src: url("../fonts/Lato-ThinItalic.ttf");}
@font-face {font-family: "Source Sans Pro Regular";src: url("../fonts/SourceSansPro-Regular.otf");}
@font-face {font-family: "Source Sans Pro Bold";src: url("../fonts/SourceSansPro-Bold.otf");}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lato Regular", sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    background: #ffffff;
}

ul li {
    display: inline-block;
}

.select-label, select {
    display: none;
}

a, button, input {
    outline: none;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder {color: transparent!important;}
input:focus::-moz-placeholder {color: transparent!important;}
input:focus:-moz-placeholder {color: transparent!important;}
input:focus:-ms-input-placeholder {color: transparent!important;}

.block-content {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.bread-crumbs {
    margin-top: 10px;
}
.bread-crumbs li, .bread-crumbs li a {
    color: #888383;
    font-size: 16px;
    line-height: 20px;
}
.bread-crumbs li:after {
    content: '>';
    color: #888383;
    font-size: 16px;
    margin: 0 5px;
}
.bread-crumbs li:last-child:after {
    display: none;
}

/****** header *****/
.header {
    margin-bottom: 10px;
}
.menu-top {
    background: #000000;
    position: relative;
    text-align: center;
    padding: 2px 0;
}
.menu-top ul {
    display: inline-block;
}
.menu-top ul li {
    margin-right: 15px;
}
.menu-top ul li:last-child {
    margin-right: 0;
}
.menu-top ul li a {
    font-size: 13px;
    color: #ffffff;
    line-height: 18px;
}

.dotted-line {
    width: 100%;
    border-bottom: 3px dotted #727373;
    position: absolute;
    bottom: -10px;
}

.header-info {
    background: #f2f2f2;
    text-align: center;
    padding-bottom: 10px;
}
.header-info .block-content {
    position: relative;
}
.header-info .logo {
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.header-info .logo img {
    display: block;
    width: 148px;
    height: 164px;
}

.store-info {
    display: inline-block;
    margin-left: 50px;
    width: auto;
    margin-top: 25px;
    vertical-align: top;
    margin-right: 15px;
    text-align: left;
}
.store-info .store-name {
    font-family: "Lato Black", sans-serif;
    font-size: 16px;
    color: #5384ad;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.store-info .store-location {
    width: 100%;
}
.icon-geo {
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url('../images/sprite-header.png') no-repeat left;
    background-size: cover;
    vertical-align: middle;
}
.store-info ul {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.store-info ul li {
    display: block;
}
.store-info .city {
    display: inline-block;
    font-family: "Lato Bold", sans-serif;
    font-size: 13px;
}
.store-info .address {
    display: inline-block;
    font-family: "Lato Thin Italic", sans-serif;
    font-size: 13px;
}

.store-contacts {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    text-align: left;
}
.store-contacts .icon-phone {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/sprite-header.png') no-repeat right;
    background-size: cover;
}
.store-contacts .numbers {
    display: inline-block;
    width: 300px;
    font-family: "Lato Black", sans-serif;
    font-size: 20px;
    line-height: 20px;
}
.store-contacts .store-email {
    display: inline-block;
    font-family: "Lato Light", sans-serif;
    color: #5384ad;
    text-decoration: none;
    margin: 3px 0 7px;
}
.store-contacts .store-email:hover {
    text-decoration: underline;
}
.store-contacts .get-call {
    display: block;
    width: 240px;
    height: 40px;
    background: #ffcc02;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.store-contacts .get-call:hover {
    background: #ffe803;
}
.store-contacts .get-call:active {
    background: #ccb703;
}

.basket-social {
    display: inline-block;
    margin-left: 20px;
    margin-top: 25px;
    vertical-align: top;
    text-align: left;
}
.basket-social .header-basket,
.basket-social .block-authorization,
.basket-social .block-social {
    width: 100%;
}
.header .icon-basket {
    display: inline-block;
    float: left;
}
.icon-basket a {
    display: block;
    width: 47px;
    height: 45px;
    background: url('../images/sprite-basket.png') no-repeat right;
    background-size: cover;
}
.icon-basket a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.icon-basket a:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.basket-social .basket-name {
    display: block;
    margin-left: 5px;
    font-family: "Lato Light", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    vertical-align: top;
}
.basket-social .products-number, .basket-social .order-cost {
    display: block;
    margin-left: 5px;
    font-family: "Lato Light", sans-serif;
    font-size: 12px;
    font-weight: 600;
    vertical-align: top;
}
.basket-social .sign-in, .basket-social .sign-up {
    display: inline-block;
    font-family: "Lato Bold", sans-serif;
    font-size: 13px;
    color: #5384ad;
    text-transform: uppercase;
    margin: 5px 0 10px;
    text-decoration: none;
}
.basket-social .sign-in:hover, .basket-social .sign-up:hover {
    text-decoration: underline;
}
.basket-social .sign-in:after {
    content: '|';
    margin: 0 5px 0 10px;
}
.basket-social ul li a {
    display: block;
    width: 26px;
    height: 26px;
    background: url('../images/sprite-social.png') no-repeat left;
    background-size: cover;
    cursor: pointer;
}
.basket-social ul li:nth-child(2) a {background: url('../images/sprite-social.png') no-repeat 20% center; background-size: cover;}
.basket-social ul li:nth-child(3) a {background: url('../images/sprite-social.png') no-repeat 40% center; background-size: cover;}
.basket-social ul li:nth-child(4) a {background: url('../images/sprite-social.png') no-repeat 60% center; background-size: cover;}
.basket-social ul li:nth-child(5) a {background: url('../images/sprite-social.png') no-repeat 80% center; background-size: cover;}
.basket-social ul li:nth-child(6) a {background: url('../images/sprite-social.png') no-repeat right; background-size: cover;}
.basket-social ul li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.basket-social ul li:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.menu-middle ul {
    width: 100%;
    padding: 10px 0;
}
.menu-middle ul li {
    width: 181px;
}
.menu-middle ul li .icon-menu-middle {
    display: inline-block;
    width: 50px;
    height: 49px;
    background: url('../images/sprite-middle-menu.png') no-repeat left;
    background-size: cover;
    vertical-align: middle;
}
.menu-middle ul li:nth-child(2) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat 20% center; background-size: cover;}
.menu-middle ul li:nth-child(3) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat 40% center; background-size: cover;}
.menu-middle ul li:nth-child(4) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat 60% center; background-size: cover;}
.menu-middle ul li:nth-child(5) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat 80% center; background-size: cover;}
.menu-middle ul li:nth-child(6) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat right; background-size: cover;}
.menu-middle ul li a {
    display: inline-block;
    width: 120px;
    font-family: "Lato Bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
    color: #000000;
    vertical-align: middle;
    margin-left: 5px;
}
.menu-middle-control {
    display: none;
    padding: 10px 0 10px 20px;
    vertical-align: middle;
}
.menu-middle-control .to-hide {
    display: none;
}
.menu-middle-control span {
    font-family: "Lato Bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
}
.menu-middle>.active span {
    color: #ffcc02;
}
.active .to-hide {
    display: inline-block;
}
.active .to-show {
    display: none;
}
.icon-menu-middle-control {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #000000 url('../images/sprite-menu.png') no-repeat left;
    background-size: cover;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 20px;
}
.menu-middle>.active .icon-menu-middle-control {
    background: #ffcc02 url('../images/sprite-menu.png') no-repeat right;
    background-size: cover;
}
.block-choice {
    background: url('../images/car.png') no-repeat;
    background-size: cover;
    padding-top: 2%;
}
.title-block {
    font-family: "Lato Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}
.title-block-shadow {
    display: inline-block;
    font-family: "Lato Bold", sans-serif;
    text-transform: uppercase;
    width: auto;
    padding: 0 50px 10px;
    margin: 0 auto 20px;
    font-size: 35px;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    text-align: center;
}
.block-choice .title-block {
    margin-left: 5%;
}
.block-choice .choose-car {
    margin-left: 5%;
    display: inline-block;
}
.select-image {
    display: block;
    width: 240px;
    height: 40px;
    background: #ffffff;
    margin-top: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    position: relative;
    cursor: pointer;
}
.selected {
    font-size: 16px;
    color: #727373;
    line-height: 40px;
    margin-left: 10px;
}
.select-mark {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url('../images/sprite-circle-arrow.png') no-repeat left;
    background-size: cover;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.selected-mark {
    background: url('../images/sprite-circle-arrow.png') no-repeat 33% center;
    background-size: cover;
}
.select-image ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    max-height: 400px;
    background: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
    padding: 5px 10px;
    z-index: 1;
}
.select-image ul li {
    width: 100%;
    line-height: 20px;
}
.select-image ul li:hover {
    color: #ffcc02;
}
.choose-car input[type="submit"] {
    width: 240px;
    height: 60px;
    background: #5384ad;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin: 15px 0 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.choose-car input[type="submit"]:hover {
    background: #589dc5;
}
.choose-car input[type="submit"]:active {
    background: #3f5f7e;
}

.block-choice .choose-car-article {
    display: inline-block;
    vertical-align: baseline;
    font-family: "Lato Italic", sans-serif;
    font-size: 20px;
    color: #5384ad;
    margin-left: 20px;
}

.choose-product {
    display: inline-block;
    width: auto;
    vertical-align: top;
}
.choose-product input[type="search"] {
    width: 420px;
    height: 35px;
    border: 2px solid rgba(204, 204, 204, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    padding-left: 15px;
    vertical-align: top;
}
.choose-product input[type="submit"] {
    height: 35px;
    line-height: 35px;
    background: #ffcc03;
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
}
.choose-product input[type="submit"]:hover {
    background: #ffe803;
}
.choose-product input[type="submit"]:active {
    background: #ccb703;
}
.choose-product .radio-buttons {
    display: inline-block;
    vertical-align: top;
}
.choose-product .radio-buttons label {
    display: block;
    color: #727373;
    margin-left: 10px;
}
.choose-product .radio-buttons label input {
    margin-right: 5px;
}
.last-search {
    display: inline-block;
    margin-left: 15px;
}
.last-search a {
    display: block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: #595bb0;
}

.menu-bottom ul {
    width: 100%;
    margin-top: 20px;
}
.menu-bottom ul li {
    width: 24.25%;
    margin-right: 1%;
    background: #ffcc03;
    vertical-align: middle;
}
.menu-bottom ul li:hover {
    background: #5384ad;
}
.menu-bottom ul li:hover a {
    text-decoration: none;
    color: #ffffff;
}
.menu-bottom ul li:active {
    background: #ccb703;
}
.menu-bottom ul li a {
    display: block;
    height: 80px;
    text-align: center;
    color: #000000;
}
.menu-bottom ul li:last-child {
    margin-right: 0;
}
.menu-bottom ul li .text-1 {
    display: block;
    font-family: "Lato Black", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
}
.menu-bottom ul li .text-2 {
    display: block;
    font-family: "Lato Bold", sans-serif;
    font-size: 14px;
}

/****** the end of the header ********/

/****** main page ******/
.block-catalogs {
    width: 100%;
    margin-top: 30px;
}
.block-catalogs>ul {
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: left;
}
.block-catalogs>ul>li {
    width: 160px;
    margin: 20px;
    vertical-align: top;
    text-align: center;
}

.block-catalogs .catalog-name {
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
}
.block-catalogs .catalog-parts li a {
    font-size: 12px;
    color: #5759ad;
    vertical-align: middle;
}
.block-catalogs .catalog-parts li:after {
    content: "\2022";
    color: #ffcc03;
    vertical-align: middle;
}
.block-catalogs .catalog-parts li:last-child:after {
    content: "";
}

.popular-products {
    margin-top: 3%;
    text-align: center;
    background: #f4f4f4;
}
.popular-products .block-content {
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
}
.popular-products .title-block {
    display: block;
    font-weight: 600;
    width: 50%;
    height: 50px;
    line-height: 50px;
    background: #ffcc03;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
}
.popular-products .slider {
    width: 95%;
    margin: 0 auto;
}
.slider-arrow {
    position: absolute;
    width: 15px;
    height: 53px;
    margin: auto;
    cursor: pointer;
}
.slider-arrow:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.slider-arrow:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.slider-left-arrow {
    left: 5px;
    top: 50%;
}
.slider-right-arrow {
    top: 50%;
    right: 5px;
}
.popular-products .slide {
    border: 2px solid #ffcc03;
    width: 200px;
    margin: 10px;
    outline: none;
    background: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}
.popular-products .slide:hover {
    border: 2px solid #ffaa10;
}
.popular-products .slide .product-name {
    font-family: "Lato Bold", sans-serif;
    font-size: 19px;
    margin-bottom: 10px;
}
.popular-products .slide img {
    display: inline-block;
    width: 90%;
    height: auto;
}
.popular-products .slide .price-block {
    display: inline-block;
    width: 135px;
    text-align: left;
    vertical-align: bottom;
}
.popular-products .slide .old-price,
.popular-products .slide .old-price .value{
    text-decoration: line-through;
    font-family: "Lato Bold", sans-serif;
    font-size: 17px;
    color: #969696;
}
.popular-products .slide .new-price,
.popular-products .slide .new-price .value{
    font-family: "Lato Bold", sans-serif;
    font-size: 24px;
}
.popular-products .slide .icon-basket {
    display: inline-block;
    vertical-align: bottom;
}
.popular-products .slide .icon-basket a {
    display: block;
    width: 63px;
    height: 60px;
    background: url('../images/sprite-basket.png') no-repeat left;
    background-size: cover;
}
.popular-products .slide .icon-basket a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.popular-products .slide .icon-basket a:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.block-brands {
    margin: 3% 0;
}
.block-brands .title-block {
    margin: 10px 0 25px 20px;
}
.block-brands ul {
    text-align: left;
    margin-left: 20px;
}
.block-brands ul li {
    width: 24%;
    margin-bottom: 20px;
}
.block-brands ul li a {
    width: auto;
    color: #000000;
}
.block-brands ul li a:hover {
    text-decoration: none;
}
.block-brands ul li a:hover .brand-name {
    text-decoration: underline;
}
.block-brands .brand-name {
    font-size: 18px;
    vertical-align: middle;
}
.block-brands .icon-brand {
    display: inline-block;
    height: 40px;
    width: 75px;
    background: url('../images/sprite-brands.png') 20px center no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.block-brands ul li:nth-child(2) .icon-brand {background: url('../images/sprite-brands.png') 2.93% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(3) .icon-brand {background: url('../images/sprite-brands.png') 5.93% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(4) .icon-brand {background: url('../images/sprite-brands.png') 8.55% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(5) .icon-brand {background: url('../images/sprite-brands.png') 11.9% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(6) .icon-brand {background: url('../images/sprite-brands.png') 14.8% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(7) .icon-brand {background: url('../images/sprite-brands.png') 17.7% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(8) .icon-brand {background: url('../images/sprite-brands.png') 20.9% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(9) .icon-brand {background: url('../images/sprite-brands.png') 23.9% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(10) .icon-brand {background: url('../images/sprite-brands.png') 27.1% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(11) .icon-brand {background: url('../images/sprite-brands.png') 30.1% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(12) .icon-brand {background: url('../images/sprite-brands.png') 33.2% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(13) .icon-brand {background: url('../images/sprite-brands.png') 36.5% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(14) .icon-brand {background: url('../images/sprite-brands.png') 39.45% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(15) .icon-brand {background: url('../images/sprite-brands.png') 42.4% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(16) .icon-brand {background: url('../images/sprite-brands.png') 45.3% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(17) .icon-brand {background: url('../images/sprite-brands.png') 48.45% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(18) .icon-brand {background: url('../images/sprite-brands.png') 51.6% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(19) .icon-brand {background: url('../images/sprite-brands.png') 54.6% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(20) .icon-brand {background: url('../images/sprite-brands.png') 57.7% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(21) .icon-brand {background: url('../images/sprite-brands.png') 60.75% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(22) .icon-brand {background: url('../images/sprite-brands.png') 63.85% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(23) .icon-brand {background: url('../images/sprite-brands.png') 66.7% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(24) .icon-brand {background: url('../images/sprite-brands.png') 69.95% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(25) .icon-brand {background: url('../images/sprite-brands.png') 72.85% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(26) .icon-brand {background: url('../images/sprite-brands.png') 76.2% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(27) .icon-brand {background: url('../images/sprite-brands.png') 79.05% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(28) .icon-brand {background: url('../images/sprite-brands.png') 82.2% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(29) .icon-brand {background: url('../images/sprite-brands.png') 85.25% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(30) .icon-brand {background: url('../images/sprite-brands.png') 88.3% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(31) .icon-brand {background: url('../images/sprite-brands.png') 91.4% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(32) .icon-brand {background: url('../images/sprite-brands.png') 94.5% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(33) .icon-brand {background: url('../images/sprite-brands.png') 97.45% center no-repeat; background-size: cover;}
.block-brands ul li:nth-child(34) .icon-brand {background: url('../images/sprite-brands.png') 100.5% center no-repeat; background-size: cover;}

.block-about-store {
    margin-bottom: 3%;
}
.block-about-store .title-block {
    margin: 10px 0 20px 20px;
}
.block-about-store p {
    font-size: 18px;
    text-indent: 25px;
    text-align: justify;
    padding: 10px 20px;
}
/****** the end of the main page ******/

/***** error 404 page ****/
.error-content {
    width: 100%;
    padding-bottom: 62.04044117647059%;
    background: url('../images/background-404.jpg');
    background-size: cover;
    margin: 3% 0;
    position: relative;
}
.error-content .error-message {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 0;
}
.error-content .block-info {
    display: inline-block;
    vertical-align: top;
}
.error-message .code {
    display: inline-block;
    font-family: "Lato Black", sans-serif;
    font-size: 135px;
    color: #888383;
    margin-left: 10%;
    vertical-align: top;
    line-height: 100px;
}
.error-message .text-1 {
    font-size: 26px;
    color: #888383;
    margin-bottom: 20px;
}
.error-message a {
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
}
.error-message a:hover {
    text-decoration: none;
}
/***** the end of the error-404 page ****/

/***** basket page *****/
.block-basket {
    width: 100%;
    margin: 0 0 3%;
    text-align: center;
}
.basket-form {
    width: 100%;
    text-align: center;
}
.product-table {
    width: 100%;
    border-collapse: collapse;
}
.product-table tr {
    border: 1px dotted transparent;
    border-bottom: 2px dotted #cccccc;
}
.product-table tr:first-child, .basket-table tr:last-child  {
    border: none;
}
.product-table th {
    height: 40px;
    background: #f2f2f2;
    vertical-align: middle;
    text-align: center;
    font-family: "Lato Bold", sans-serif;
    font-size: 16px;
}
.product-table td {
    padding: 10px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    text-align: center;
}
.product-table td:nth-child(1) {width: 12%;}
.product-table td:nth-child(2) {width: 33%;padding: 5px;text-align: left;}
.product-table td:nth-child(3) {width: 15%;text-align: left;}
.product-table td:nth-child(4) {width: 9%;}
.product-table td:nth-child(5) {width: 9%;}
.product-table td:nth-child(6) {width: 8%;font-family: "Lato Black", sans-serif;}
.product-table td:nth-child(7) {width: 8%;}
.product-table td:nth-child(8) {width: 6%;}
.product-table .product-image img {
    width: 80%;
    height: auto;
    border: 2px solid #ffcc03;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
}
.product-amount input {
    display: none;
}
.product-amount-controls, .current-amount {
    display: inline-block;
    vertical-align: middle;
}
.product-amount .control {
    width: 10px;
    height: 5px;
    background: url('../images/sprite-arrows.png') left no-repeat;
    background-size: cover;
    cursor: pointer;
}
.product-amount .control-remove {
    background: url('../images/sprite-arrows.png') right no-repeat;
    background-size: cover;
    margin-top: 8px;
}
.control-add:hover {
    background: url('../images/sprite-arrows-hover.png') left no-repeat;
    background-size: cover;
}
.control-remove:hover {
    background: url('../images/sprite-arrows-hover.png') right no-repeat;
    background-size: cover;
}
.current-amount {
    font-size: 18px;
    width: 25px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  inset 0 0 3px -1px rgba(0, 0, 0, 0.75);
    background: #f6f3ed;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.basket-result-row {
    width: 100%;
    height: 70px;
    background: #ffcc03;
    text-align: left;
    margin-bottom: 3%;
}
.basket-form-reset {
    width: auto;
    height: 40px;
    padding: 0 20px;
    background: #000000;
    color: #ffcc03;
    font-family: "Lato Bold", sans-serif;
    font-size: 19px;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}
.basket-result {
    display: inline-block;
    float: right;
    height: 70px;
}
.basket-result>span {
    font-size: 30px;
    margin-right: 50px;
}
.basket-result .order-weight, .basket-result .order-weight span,
.basket-result .order-cost, .basket-result .order-cost span {
    display: inline-block;
    font-size: 30px;
    margin-top: 8px;
}
.basket-result .order-cost {
    margin: 0 20px;
}
.basket-form .basket-submit {
    display: none;
}
.basket-form .icon-big-basket {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('../images/icon-big-basket.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}
.basket-form .icon-big-basket:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.basket-form .icon-big-basket:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.basket-form .text-1 {
    display: inline-block;
    font-family: "Lato Bold", sans-serif;
    font-size: 35px;
    line-height: 30px;
    text-transform: uppercase;
    vertical-align: middle;
}
.basket-form .icon-delete {
    width: 27px;
    height: 27px;
    background: url('../images/delete-product.png') no-repeat;
    background-size: cover;
    cursor: pointer;
}
.basket-form .icon-delete:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.basket-form .icon-delete:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.callback-form {
    width: 750px;
    margin: 50px auto;
    background: #f2f2f2;
    border: 1px solid transparent;
}
.callback-form .title {
    font-size: 19px;
    width: 80%;
    margin: 20px auto 10px;
    text-align: center;
    font-family: "Source Sans Pro Regular",sans-serif;
}
.callback-form .client-name, .callback-form .client-phone {
    display: block;
    font-family: "Source Sans Pro Regular",sans-serif;
    width: 45%;
    height: 30px;
    border: 1px solid #cccccc;
    margin: 0 auto 5px;
    padding-left: 15px;
}
.callback-form input::-webkit-input-placeholder {font-family:"Source Sans Pro Regular",sans-serif;color: #6f6f6f; font-size: 16px;font-weight: 600;}
.callback-form input::-moz-placeholder {font-family:"Source Sans Pro Regular",sans-serif;color: #6f6f6f; font-size: 16px;font-weight: 600;}
.callback-form input:-moz-placeholder {font-family:"Source Sans Pro Regular",sans-serif;color: #6f6f6f; font-size: 16px;font-weight: 600;}
.callback-form input:-ms-input-placeholder {font-family:"Source Sans Pro Regular",sans-serif;color: #6f6f6f; font-size: 16px;font-weight: 600;}
.callback-form input[type="submit"] {
    display: block;
    width: 280px;
    height: 60px;
    font-family: "Source Sans Pro Bold",sans-serif;
    font-size: 25px;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 10px auto 20px;
    background: #5384ad;
}
.callback-form input[type="submit"]:hover {
    background: #589dc5;
}
.callback-form input[type="submit"]:active {
    background: #3f5f7e;
}
/***** the end of the basket ****/

/***** oils page *****/
.alternative-block {
    background: url('../images/car-long.jpg') no-repeat;
    background-size: cover;
    text-align: left;
}
.alternative-block .title-block {
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    color: #c30000;
    text-transform: uppercase;
    margin: 10px 0 10px 40px;
    text-shadow: -5px 5px 5px #ffffff;
}
.alternative-block .choose-car {
    margin-left: 13%;
}
.select-images {
    display: inline-block;
}
.alternative-block .choose-car input[type="submit"] {
    height: 95px;
    vertical-align: top;
    margin-left: 10px;
}
.bread-crumbs-oils {
    margin: 0;
}
.block-oils {
    text-align: center;
}
.filter-oils-1 {
    display: block;
    margin-bottom: 20px;
}
.filter-oils-1 li a {
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #7c7b76;
    cursor: pointer;
}
.filter-oils-1 li:after {
    content: '|';
    margin: 0 10px;
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    color: #7c7b76;
}
.filter-oils-2 {
    margin-bottom: 30px;
}
.filter-oils-2 li {
    margin-bottom: 5px;
}
.filter-oils-2 li a {
    display: block;
    height: 30px;
    background: #5384ad;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.filter-oils-2 .active a {
    background: #000000;
}
.filter-oils-2 li a:hover {
    text-decoration: none;
    background: #000000;
}
.choose-car input[type="submit"]:hover {
    background: #589dc5;
}
.choose-car input[type="submit"]:active {
    background: #3f5f7e;
}
.oils-table .icon-basket a {
    width: 50px;
    background: url('../images/sprite-basket.png') no-repeat left;
    background-size: cover;
}
.pages-nav {
    margin-top: 20px;
}
.pages-nav div, .pages-nav ul, .pages-nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Lato Thin", sans-serif;
    cursor: pointer;
}
.pages-nav ul li {
    width: 25px;
    height: 25px;
    line-height: 25px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.pages-nav ul li:hover {
    background: #ffcc03;
}
.pages-nav ul .active {
    background: #ffcc03;
}
.pages-nav .to-next, .pages-nav .to-previous {
    margin: 0 10px;
}
/***** the end of the oils page *****/

/***** brake-pads ******/
.block-content-brake-pads {
    margin-top: 30px;
}
.menu-bottom-brake-pads li:nth-child(2) {
    background: #5384ad;
    text-decoration: none;
}
.menu-bottom-brake-pads li:nth-child(2) a {
    color: #ffffff;
}
.choose-brake-pads {
    width: 100%;
    background: url('../images/background-brake-pads.jpg') no-repeat;
    background-size: cover;
    padding-left: 30px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.choose-brake-pads .title-block {
    margin: 20px 0 10px 80px;
}
.choose-brake-pads .select-images {
    margin-right: 20px;
}

.choose-brake-pads .select-image {
    width: 300px;
}
.choose-brake-pads input[type="submit"] {
    display: block;
    width: 350px;
    height: 60px;
    background: #5384ad;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin: 15px 0 20px 140px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.choose-brake-pads input[type="submit"]:hover {
    background: #589dc5;
}
.choose-brake-pads input[type="submit"]:active {
    background: #3f5f7e;
}
.product-table-dark th {
    background: #000000;
    color: #ffcc03;
    font-weight: 100;
}
.product-table-dark .icon-basket a {
    width: 50px;
    background: url('../images/sprite-basket.png') no-repeat left;
    background-size: cover;
}
/***** end of the brake-pads ******/

/**** product page ****/
.product-card-block {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}
.product-image-block {
    display: inline-block;
    width: 44%;
    margin-right:3%;
    vertical-align: top;
}
.image-main, .image-list {
    width: 100%;
    list-style: none;
}
.image-main li {
    display: none;
    margin-bottom: 10px;
}
.image-main li:first-child {
    display: block;
}
.image-main li img, .image-list li img {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #ffcc03;
}
.image-list li {
    width: 23.5%;
    margin-right: 2%;
    cursor: pointer;
}
.image-list li:last-child {
    margin-right: 0;
}
.image-list .active img {
    border: 2px solid #5384ad;
}
.product-parameters-block {
    display: inline-block;
    width: 52%;
    text-align: left;
}
.price-form {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    vertical-align: top;
    text-align: left;
}
.price-form .product-cost {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.price-form .product-cost .caption {
    position: absolute;
    top: -13px;
    left: 0;
    font-family: "Lato Bold", sans-serif;
    font-size: 10px;
    color: #7c7b76;
}
.price-form .product-cost .value {
    font-family: "Lato Bold", sans-serif;
    font-size: 28px;
    padding: 0 20px;
    background: #5384ad;
    color: #ffffff;
}
.add-to-basket {
    float: right;
    vertical-align: top;
}
.price-form .product-amount {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.price-form .product-amount .caption {
    position: absolute;
    top: -13px;
    left: 0;
    font-family: "Lato Bold", sans-serif;
    font-size: 10px;
    color: #7c7b76;
}
.price-form .current-amount {
    height: 34px;
    width: 30px;
    text-align: center;
    line-height: 34px;
    font-family: "Lato Bold", sans-serif;
    font-size: 23px;
}
.price-form .control {
    width: 20px;
    height: 10px;
}
.price-form .product-amount-controls {

}
.price-form-submit {
    display: none;
}
.price-form .text-1 {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-family: "Lato Black", sans-serif;
    color: #5384ad;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 17px;
}
.price-form .icon-basket {
    display: inline-block;
    vertical-align: top;
}
.price-form .icon-basket a {
    display: block;
    width: 54px;
    height: 50px;
    background: url('../images/sprite-basket.png') no-repeat left;
    background-size: cover;
    margin-top: -10px;
}
.price-form .icon-basket a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.price-form .icon-basket a:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.product-parameters-block table {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid rgba(204, 204, 204, 0.8);
}
.product-parameters-block table th {
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0 5px 25px;
}
.product-parameters-block .features th {
    background: #000000;
    color: #ffcc01;
}
.product-parameters-block .manufacts th {
    background: #ffcc01;
    color: #000000;
}
.product-parameters-block table th:first-child {width: 40%;}
.product-parameters-block table th:last-child {width: 60%;}
.product-parameters-block table td {
    font-size: 18px;
    padding: 5px 0 5px 25px;
}
.product-parameters-block table tr:nth-child(2n + 1) td {
    background: #fff5cc;
}
.product-parameters-block>a {
    font-size: 18px;
    color: #5384ad;
    text-decoration: underline;
}
.product-parameters-block>a:hover {
    text-decoration: none;
}
.link-all-numbers {
    float: left;
    margin-left: 20px;
}
.link-using {
    float: right;
    margin-right: 20px;
}
.product-card-block>.text-1 {
    font-family: "Lato Bold", sans-serif;
    font-size: 26px;
    margin-top: 20px;
}
.product-card-block .sub-title {
    display: inline-block;
    font-family: "Lato Bold", sans-serif;
    font-size: 25px;
    margin: 5px 0 20px;
    padding: 10px 150px;
    background: #ffcc01;
    text-transform: uppercase;
}
.table-title {
    text-align: left;
    margin-bottom: 15px;
}
.table-title .icon-table-title {
    display: inline-block;
    width: 27px;
    height: 28px;
    background: url('../images/sprite-circle-arrow.png') no-repeat right;
    background-size: cover;
    margin-bottom: -3px;
}
.table-title span {
    font-family: "Lato Black", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 20px;
}
.product-card-block .product-table {
    margin-bottom: 35px;
}
.using-table {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px dotted #cccccc;
    border-collapse: collapse;
}
.using-table tr:hover {
    background: #f5f5f5;
}
.using-table th {
    background: #000000;
    color: #ffcc01;
    font-family: "Lato Bold", sans-serif;
    font-size: 16px;
    padding: 5px 0;
}
.using-table td {
    font-size: 16px;
    padding: 5px 0;
}
.using-table th:first-child, .using-table td:first-child {
    text-align: left;
    padding-left: 25px;
}
.block-delivery {
    width: 100%;
    text-align: center;
    background: #ffcc03;
    padding: 40px 0;
}
.icon-delivery, .delivery-title, .block-delivery ul {
    display: inline-block;
    vertical-align: top;
}
.icon-delivery {
    width: 63px;
    height: 64px;
    background: url('../images/icon-delivery.png') no-repeat center;
    background-size: cover;
}
.delivery-title {
    font-size: 13px;
    text-align: right;
    margin-right: 10px;
}
.delivery-title .text-1 {
    font-size: 29px;
}
.block-delivery ul {
    text-align: left;
    margin-top: 5px;
}
.block-delivery ul li {
    margin-left: 10px;
}
.block-delivery .city-name {
    margin-top: 3px;
}
.block-delivery .icon-right-arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('../images/sprite-circle-arrow.png') no-repeat 66.5% center;
    background-size: cover;
    vertical-align: middle;
}
.block-delivery .city-name span {
    font-size: 15px;
    margin-left: 5px;
    vertical-align: middle;
}
/***** the end of the product page ****/

/***** footer ****/
.block-advantages {
    width: 100%;
    background: #ffcc03;
}
.block-advantages .block-content {
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
}
.block-advantages .title-block {
    display: block;
    font-weight: 600;
    width: 50%;
    height: 50px;
    line-height: 50px;
    background: #000000;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    text-align: center;
}
.block-advantages ul {
    margin: 20px 0;
    text-align: center;
}
.block-advantages ul li {
    width: 165px;
    vertical-align: top;
    margin: 0 5px;
}
.block-advantages .icon-advantage {
    display: inline-block;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #ffffff;
    margin-bottom: 10px;
    background: url('../images/sprite-advantages.png') no-repeat -3% 55%;
    background-size: auto 60%;
}
.block-advantages li:nth-child(2) .icon-advantage {background: url('../images/sprite-advantages.png') no-repeat 18% 55%; background-size: auto 60%;}
.block-advantages li:nth-child(3) .icon-advantage {background: url('../images/sprite-advantages.png') no-repeat 39% 55%; background-size: auto 60%;}
.block-advantages li:nth-child(4) .icon-advantage {background: url('../images/sprite-advantages.png') no-repeat 60% 55%; background-size: auto 60%;}
.block-advantages li:nth-child(5) .icon-advantage {background: url('../images/sprite-advantages.png') no-repeat 81.5% 55%; background-size: auto 60%;}
.block-advantages li:nth-child(6) .icon-advantage {background: url('../images/sprite-advantages.png') no-repeat 103% 55%; background-size: auto 60%;}
.block-advantages .advantage-text {
    font-family: "Lato Light Italic", sans-serif;
    font-size: 15px;
}
.footer-bottom {
    background: #000000;
    border: 1px solid transparent;
}
.footer-menu {
    border-bottom: 3px dotted #727373;
}
.footer-menu ul {
    margin: 10px 0;
    text-align: center;
}
.footer-menu ul li {
    margin: 0 15px;
}
.footer-menu ul li a {
    color: #ffcc01;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.footer-info {
    text-align: left;
    padding-bottom: 20px;
}
.work-time, .footer-location {
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}
.work-time-title {
    display: inline-block;
    font-family: "Lato Black", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}
.work-time-info {
    display: inline-block;
    font-family: "Lato Italic", sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-left: 20px;
}
.footer-location {
    float: right;
}
.come-to-us {
    width: 150px;
    height: 35px;
    background: transparent;
    border: 2px solid #ffcc02;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: "Lato Black", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    margin-left: 10px;
}
.come-to-us:hover {
    background: #ffe803;
    color: #000000;
}
.come-to-us:active {
    background: #ccb703;
    color: #000000;
}
.copyrights {
    display: inline-block;
    margin-left: 30px;
    font-family: "Lato Light", sans-serif;
    font-size: 16px;
    color: #ffffff;
 }
/**** the end of the footer *****/

/**** media queries ****/
@media (max-width: 1090px) {
    .header .logo img {
        width: 131px;
        height: 145px;
    }
    .header .store-info {
        margin-left: 140px;
    }
    .menu-middle-control {
        display: block;
    }
    .menu-middle ul {
        display: none;
        padding: 0;
    }
    .menu-middle ul li {
        display: block;
        margin: 0 0 10px 20px;
        width: auto;
    }
    .menu-middle ul li a {
        margin-left: 20px;
    }
}
@media (max-width: 1000px) {
    .header-info {
        text-align: left;
    }
    .header-info .logo {
        display: inline-block;
        position: static;
        float: left;
        vertical-align: top;
        margin-left: 10px;
        margin-bottom: 150px;
    }
    .header .store-info {
        margin-left: 10px;
        float: left;
        vertical-align: top;
    }
    .header .store-contacts {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    .header .basket-social {
        float: right;
        vertical-align: top;
        margin-right: 10px;
    }
    .header .choose-product .radio-buttons {
        display: block;
        margin: 10px 0;
    }
    .block-choice {
        background: url('../images/car.png') no-repeat left center;
        padding-top: 5px;
    }
}
@media (max-width: 640px) {
    .header-info {
        text-align: center;
    }
    .header-info .logo {
        display: inline-block;
        float: none;
        vertical-align: bottom;
        margin-left: 0;
        margin-bottom: 0;
    }
    .header-info .logo img {
        width: 90px;
        height: 100px;
    }
    .header .store-info {
        margin-left: 0;
        float: none;
        vertical-align: middle;
    }
    .header .store-contacts {
        position: static;
    }
    .header .basket-social {
        float: none;
        vertical-align: middle;
        margin-right: 0;
    }
    .choose-car input[type="submit"] {
        margin-bottom: 70px;
    }
}
@media (max-width: 640px) {

}
@media (max-width: 480px) {
    /*.choose-car input[type="submit"] {
        margin-bottom: 10px;
    }*/
}