@font-face {font-family: "Lato Regular";src: url("../fonts/Lato-Regular.ttf");}
@font-face {font-family: "Lato Black";src: url("../fonts/Lato-Black.ttf");}
@font-face {font-family: "Lato Bold";src: url("../fonts/Lato-Bold.ttf");}
@font-face {font-family: "Lato Italic";src: url("../fonts/Lato-Italic.ttf");}
@font-face {font-family: "Lato Light";src: url("../fonts/Lato-Light.ttf");}
@font-face {font-family: "Lato Light Italic";src: url("../fonts/Lato-LightItalic.ttf");}
@font-face {font-family: "Lato Thin Italic";src: url("../fonts/Lato-ThinItalic.ttf");}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lato Regular", sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    background: #ffffff;
}

ul li {
    display: inline-block;
}

a, button, input {
    outline: none;
    border: none;
    cursor: pointer;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder {color: transparent}
input:focus:-moz-placeholder {color: transparent}
input:focus:-ms-input-placeholder {color: transparent}

.header, .footer, .menu-top, .header-info, .menu-middle, .block-choice, .menu-bottom {
    width: 100%;
}

.block-content {
    width: 95%;
    max-width: 1090px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.menu-top {
    background: #000000;
    position: relative;
    text-align: center;
    padding: 2px 0;
}
.menu-top ul {
    display: inline-block;
}
.menu-top ul li {
    margin-right: 15px;
}
.menu-top ul li:last-child {
    margin-right: 0;
}
.menu-top ul li a {
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    line-height: 18px;
}
.menu-top ul li a:hover {
    text-decoration: underline;
}

.dotted-line {
    width: 100%;
    border-bottom: 3px dotted #727373;
    position: absolute;
    bottom: -10px;
}

.header-info {
    background: #f2f2f2;
}
.header-info .block-content {
    position: relative;
    height: 145px;
}
.header-info .logo {
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-info .logo img {
    display: block;
    width: 148px;
    height: 164px;
}

.store-info {
    display: inline-block;
    margin-left: 170px;
    width: 300px;
    margin-top: 25px;
    vertical-align: top;
}
.store-info .store-name {
    font-family: "Lato Black", sans-serif;
    font-size: 16px;
    color: #5384ad;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.store-info .store-location {
    width: 100%;
}
.store-info .icon-geo {
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url('../images/sprite-header.png') no-repeat left;
    background-size: cover;
    vertical-align: middle;
}
.store-info ul {
    display: inline-block;
    width: 250px;
    margin-left: 10px;
    vertical-align: middle;
}
.store-info .city {
    display: inline-block;
    font-family: "Lato Bold", sans-serif;
    font-size: 13px;
}
.store-info .address {
    display: inline-block;
    font-family: "Lato Thin Italic", sans-serif;
    font-size: 13px;
}

.store-contacts {
    display: inline-block;
    width: 350px;
    vertical-align: top;
    margin-top: 25px;
}
.store-contacts .icon-phone {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/sprite-header.png') no-repeat right;
    background-size: cover;
}
.store-contacts .numbers {
    display: inline-block;
    width: 300px;
    font-family: "Lato Black", sans-serif;
    font-size: 20px;
    line-height: 20px;
}
.store-contacts .store-email {
    display: inline-block;
    font-family: "Lato Light", sans-serif;
    color: #5384ad;
    text-decoration: none;
    margin: 3px 0 7px;
}
.store-contacts .store-email:hover {
    text-decoration: underline;
}
.store-contacts .get-call {
    width: 240px;
    height: 40px;
    background: #ffcc02;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.store-contacts .get-call:hover {
    background: #ffe803;
}
.store-contacts .get-call:active {
    background: #ccb703;
}

.basket-social {
    display: inline-block;
    margin-left: 20px;
    margin-top: 25px;
    vertical-align: top;
    width: 200px;
}
.basket-social .block-basket,
.basket-social .block-authorization,
.basket-social .block-social {
    width: 100%;
}
.basket-social .icon-basket {
    display: inline-block;
    float: left;
}
.basket-social .icon-basket a {
    display: block;
    width: 47px;
    height: 45px;
    background: url('../images/sprite-basket.png') no-repeat right;
    background-size: cover;
}
.basket-social .icon-basket a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.basket-social .icon-basket a:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.basket-social .basket-name {
    display: inline-block;
    width: 140px;
    margin-left: 5px;
    font-family: "Lato Light", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    vertical-align: top;
    float: left;
}
.basket-social .products-number, .basket-social .order-cost {
    display: inline-block;
    width: 140px;
    margin-left: 5px;
    font-family: "Lato Light", sans-serif;
    font-size: 12px;
    font-weight: 600;
    vertical-align: top;
    float: left;
}
.basket-social .sign-in, .basket-social .sign-up {
    display: inline-block;
    font-family: "Lato Bold", sans-serif;
    font-size: 13px;
    color: #5384ad;
    text-transform: uppercase;
    margin: 5px 0 10px;
    text-decoration: none;
}
.basket-social .sign-in:hover, .basket-social .sign-up:hover {
    text-decoration: underline;
}
.basket-social .sign-in:after {
    content: '|';
    margin: 0 5px 0 10px;
}
.basket-social ul li a {
    display: block;
    width: 26px;
    height: 26px;
    background: url('../images/sprite-social.png') no-repeat left;
    background-size: cover;
    cursor: pointer;
}
.basket-social ul li:nth-child(2) a {background: url('../images/sprite-social.png') no-repeat 20% center; background-size: cover;}
.basket-social ul li:nth-child(3) a {background: url('../images/sprite-social.png') no-repeat 40% center; background-size: cover;}
.basket-social ul li:nth-child(4) a {background: url('../images/sprite-social.png') no-repeat 60% center; background-size: cover;}
.basket-social ul li:nth-child(5) a {background: url('../images/sprite-social.png') no-repeat 80% center; background-size: cover;}
.basket-social ul li:nth-child(6) a {background: url('../images/sprite-social.png') no-repeat right; background-size: cover;}
.basket-social ul li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.basket-social ul li:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.menu-middle ul {
    width: 100%;
    padding: 10px 0;
}
.menu-middle ul li {
    width: 181px;
}
.menu-middle ul li .icon-menu-middle {
    display: inline-block;
    width: 50px;
    height: 49px;
    background: url('../images/sprite-middle-menu.png') no-repeat left;
    background-size: cover;
    vertical-align: middle;
}
.menu-middle ul li:nth-child(2) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat 20% center; background-size: cover;}
.menu-middle ul li:nth-child(3) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat 40% center; background-size: cover;}
.menu-middle ul li:nth-child(4) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat 60% center; background-size: cover;}
.menu-middle ul li:nth-child(5) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat 80% center; background-size: cover;}
.menu-middle ul li:nth-child(6) .icon-menu-middle {background: url('../images/sprite-middle-menu.png') no-repeat right; background-size: cover;}
.menu-middle ul li a {
    display: inline-block;
    width: 120px;
    font-family: "Lato Bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
    text-decoration: none;
    color: #000000;
    vertical-align: middle;
    margin-left: 5px;
}
.menu-middle ul li a:hover {
    text-decoration: underline;
}
.block-choice {
    background: url('../images/car.png') no-repeat;
    background-size: cover;
    padding-top: 2%;
}
.title-block {
    font-family: "Lato Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}
.block-choice .title-block {
    margin-left: 5%;
}
.block-choice .choose-car {
    margin-left: 5%;
    display: inline-block;
}
.block-choice .select-image {
    display: block;
    width: 240px;
    height: 40px;
    background: #ffffff;
    margin-top: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    position: relative;
    cursor: pointer;
}
.block-choice .selected {
    font-size: 16px;
    color: #727373;
    line-height: 40px;
    margin-left: 10px;
}
.block-choice .select-mark {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url('../images/bottom-arrow.png') no-repeat center;
    background-size: cover;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.block-choice .select-image ul {
    display: none;
    position: absolute;
    top: 0;
    left: 240px;
    width: 240px;
    height: 400px;
    background: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
    padding: 5px 10px;
}
.block-choice .select-image ul li {
    width: 100%;
    line-height: 20px;
}
.block-choice .select-image ul li:hover {
    color: #ffcc02;
}
.block-choice .select-1-wrap, .block-choice .select-2-wrap {
    display: none;
}
.choose-car input[type="submit"] {
    width: 240px;
    height: 60px;
    background: #5384ad;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin: 15px 0 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.choose-car input[type="submit"]:hover {
    background: #589dc5;
}
.choose-car input[type="submit"]:active {
    background: #3f5f7e;
}

.block-choice .choose-car-article {
    display: inline-block;
    vertical-align: baseline;
    font-family: "Lato Italic", sans-serif;
    font-size: 20px;
    color: #5384ad;
    margin-left: 20px;
}

.block-choice .choose-product {
    display: inline-block;
    width: auto;
    vertical-align: top;
}
.block-choice input[type="search"] {
    width: 420px;
    height: 35px;
    border: 2px solid rgba(204, 204, 204, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    padding-left: 15px;
    vertical-align: top;
}
.choose-product input[type="submit"] {
    height: 35px;
    line-height: 35px;
    background: #ffcc03;
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
}
.choose-product input[type="submit"]:hover {
    background: #ffe803;
}
.choose-product input[type="submit"]:active {
    background: #ccb703;
}
.choose-product .radio-buttons {
    display: inline-block;
    vertical-align: top;
}
.choose-product .radio-buttons label {
    display: block;
    color: #727373;
    margin-left: 10px;
}
.choose-product .radio-buttons label input {
    margin-right: 5px;
}
.block-choice .last-search {
    display: inline-block;
    margin-left: 15px;
}
.block-choice .last-search a {
    display: block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: #595bb0;
    text-decoration: none;
}
.block-choice .last-search a:hover {
    text-decoration: underline;
}

.menu-bottom {
    margin-bottom: 30px;
}
.menu-bottom ul {
    width: 100%;
    margin-top: 20px;
}
.menu-bottom ul li {
    width: 24.25%;
    margin-right: 1%;
    background: #ffcc03;
    vertical-align: middle;
}
.menu-bottom ul li:hover {
    background: #ffe803;
    text-decoration: underline;
}
.menu-bottom ul li:active {
    background: #ccb703;
}
.menu-bottom ul li a {
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.menu-bottom ul li:last-child {
    margin-right: 0;
}
.menu-bottom ul li .text-1 {
    display: block;
    font-family: "Lato Black", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
}
.menu-bottom ul li .text-2 {
    display: block;
    font-family: "Lato Bold", sans-serif;
    font-size: 14px;
}

/****** header end ********/

/****** main page ******/
.block-catalogs {
    width: 100%;
}
.block-catalogs>ul {
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: left;
}
.block-catalogs>ul>li {
    width: 160px;
    margin: 20px;
    vertical-align: top;
    text-align: center;
}

.block-catalogs .catalog-name {
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0 10px 10px -10px rgba(0, 0, 0, 0.75);
}
.block-catalogs .catalog-parts li a {
    font-size: 12px;
    color: #5759ad;
    vertical-align: middle;
}
.block-catalogs .catalog-parts li:after {
    content: "\2022";
    color: #ffcc03;
    vertical-align: middle;
}
.block-catalogs .catalog-parts li:last-child:after {
    content: "";
}

.popular-products {
    text-align: center;
}
.popular-products .title-block {
    display: inline-block;
    width: auto;
    background: #ffcc03;
    padding: 5px 15px;
}